.home-page{
    width: 100%;
    height: 120vh; /*viewport height*/
    background-image: url("../../images/background-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.span-link{
    color: white;
    text-decoration: none;
 
}
