@font-face {
    font-family: Azonix;
    src: url("../../fonts/Azonix.otf");
  }

  .npc {
    width: 40px;
    height: 35px;
    position: absolute;
    top: calc(100% - 45px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(10, 100, 107);
    color: white;
    cursor: pointer;
  }
  
  .currentPlayer {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    border: solid 5px rgb(112, 177, 15);
  }